
@mixin field-reset() {
  margin: 0;
  padding: 0;
}

@mixin ul-reset() {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin mobal-container() {
  width: 320px;
  margin: 0 auto;
}

@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}


@mixin font-regular() {
  font-family: "Open Sans";
  font-weight: 400;
}

@mixin font-bold() {
  font-family: "Open Sans";
  font-weight: 700;
}
