$main-color: #000000;
$add-color: #ffffff;
$green-color: #63d1bb;
$green-color--dark: #56c3b2;
$green-color--lighter: #62d1ba;
$footer-bg: #f1f1f1;
$grey-color: #444444;
$controls-bg: #ececec;
$btn-bg: #828282;
$table-bg: #f9f9f9;
$socisa-bg-icon: #e5e5e5;
$shadow: #c6c6c6;
$input-add: #46c1ae;
$min-tablet: 768px;
$max-tablet: 1249px;
$min-desktop: 1250px;
