.about-us {

  @media only screen and (min-width: 768px) and (max-width: 1249px) {

  }

  @media (min-width: 1250px) {

  }
}
/* -------------------------------------------------------------- */
.about-us__container {
  @include mobal-container();
  padding: 0px;
  padding-top: 27px;
  padding-right: 30px;
  padding-left: 30px;

  @media only screen and (min-width: 768px) and (max-width: 1249px) {
    width: 768px;
    padding-bottom: 48px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
  }

  @media (min-width: 1250px) {
    width: 1050px;
    padding-top: 59px;
    padding-left: 175px;
  }
}
/* -------------------------------------------------------------- */
.about-us__title {
  @include field-reset();
  padding-bottom: 26px;
  @include font-bold();
  line-height: 30px;
  font-size: 25px;
  color: $main-color;

  @media only screen and (min-width: 768px) and (max-width: 1249px) {
    line-height: 50px;
    font-size: 43px;
    letter-spacing: -0.6px;
  }

  @media (min-width: 1250px) {
    line-height: 57px;
    font-size: 53px;
    letter-spacing: -0.8px;
  }
}
/* -------------------------------------------------------------- */
.about-us__list {
  @include flex-column();
  @include ul-reset();
  width: 100%;

  @media only screen and (min-width: 768px) and (max-width: 1249px) {
    @include flex-row();
    flex-wrap: wrap;
  }

  @media (min-width: 1250px) {
    @include flex-row();
    flex-wrap: wrap;
  }
}
/* -------------------------------------------------------------- */
.about-us__item {
  @include flex-row();
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  @include field-reset();
  padding-top: 60px;
  padding-bottom: 23px;
  @include font-bold();
  line-height: 20px;
  font-size: 17px;
  color: $main-color;
  letter-spacing: 0.1px;

  @media only screen and (min-width: 768px) and (max-width: 1249px) {
    width: 334px;
    padding-top: 76px;
    padding-bottom: 35px;
    line-height: 22px;
    font-size: 20px;
  }

  @media (min-width: 1250px) {
    width: 351px;
    padding-top: 76px;
    padding-bottom: 35px;
    line-height: 22px;
    font-size: 20px;
  }
}
/* -------------------------------------------------------------- */
.about-us__item--eco {
  background: transparent url("../img/icon-feature-flower.svg") left 9px top 6px no-repeat;

  @media only screen and (min-width: 768px) and (max-width: 1249px) {
    order: 1;
    background-position: left 9px top 22px;
  }

  @media (min-width: 1250px) {
    order: 1;
    background-position: left 9px top 22px;
  }
}
/* -------------------------------------------------------------- */
.about-us__item--style {
  background: transparent url("../img/icon-feature-money.svg") left 1px top 7px no-repeat;

  @media only screen and (min-width: 768px) and (max-width: 1249px) {
    order: 3;
    background-position: left 1px top 23px;
  }

  @media (min-width: 1250px) {
    order: 3;
    background-position: left 1px top 23px;
  }
}
/* -------------------------------------------------------------- */
.about-us__item--like {
  background: transparent url("../img/icon-feature-heart.svg") left 8px top 11px no-repeat;

  @media only screen and (min-width: 768px) and (max-width: 1249px) {
    order: 5;
    background-position: left 8px top 27px;
  }

  @media (min-width: 1250px) {
    order: 5;
    background-position: left 8px top 27px;
  }
}
/* -------------------------------------------------------------- */
.about-us__item--love {
  background: transparent url("../img/icon-feature-ball.svg") left 4px top 9px no-repeat;

  @media only screen and (min-width: 768px) and (max-width: 1249px) {
    order: 2;
    background-position: left 3px top 25px;
  }

  @media (min-width: 1250px) {
    order: 2;
    background-position: left 3px top 25px;
  }
}
/* -------------------------------------------------------------- */
.about-us__item--our {
  background: transparent url("../img/icon-feature-rocket.svg") left 0px top 10px no-repeat;

  @media only screen and (min-width: 768px) and (max-width: 1249px) {
    order: 4;
    background-position: left 0px top 25px;
  }

  @media (min-width: 1250px) {
    order: 4;
    background-position: left 0px top 25px;
  }
}
/* -------------------------------------------------------------- */
.about-us__item--present {
  background: transparent url("../img/icon-feature-gift.svg") left 4px top 8px no-repeat;

  @media only screen and (min-width: 768px) and (max-width: 1249px) {
    order: 6;
    background-position: left 3px top 24px;
  }

  @media (min-width: 1250px) {
    order: 6;
    background-position: left 3px top 24px;
  }
}
