.about-us {

}

.about-us__container {
  @include mobal-container();
  padding: 0px;
  padding-top: 69px;
  padding-right: 30px;
  padding-left: 30px;
}

.about-us__title {
  @include field-reset();
  padding-bottom: 26px;
  @include font-bold();
  line-height: 30px;
  font-size: 25px;
  color: $main-color;
}

.about-us__list {
  @include flex-column();
  @include ul-reset();
  width: 100%;
}

.about-us__item {
  @include flex-row();
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  @include field-reset();
  padding-top: 60px;
  padding-bottom: 23px;
  @include font-bold();
  line-height: 20px;
  font-size: 17px;
  color: $main-color;
  letter-spacing: 0.1px;
}
