.button {
  display: block;
  padding-top: 15px;
  padding-bottom: 13px;
  @include font-bold();
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  font-size: 17px;
  color: $grey-color;
  border: 2px solid $btn-bg;
  background: transparent;
  outline: none;
  cursor: pointer;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {

  }

  @media (min-width: $min-desktop) {

  }
}

.button--special {

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    width: 290px;
  }

  @media (min-width: $min-desktop) {
    width: 293px;
  }
}

.button--contacts {
  order: 5;
  width: 260px;
  margin: 0 auto;
  letter-spacing: 0.7px;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    width: 230px;
    letter-spacing: 0;
  }

  @media (min-width: $min-desktop) {
    width: 230px;
    margin: 0;
    margin-top: -91px;
    margin-left: 275px;
    letter-spacing: 0.1px;
  }
}

.button--comments {

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    order: 2;
    min-height: 10px;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-left: 36px;
  }

  @media (min-width: $min-desktop) {
    order: 2;
    width: 175px;
    margin-top: 9px;
  }
}

.button--prepare {
  width: 192px;
  margin: 0 auto;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    order: 4;
    width: 584px;
  }

  @media (min-width: $min-desktop) {
    order: 3;
    width: 230px;
    margin-left: 762px;
    padding-bottom: 16px;
    line-height: 17px;
    font-size: 17px;
  }
}

.button--form {
  width: 260px;
  margin: 0 auto;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    order: 7;
    width: 230px;
    margin: 0;
  }

  @media (min-width: $min-desktop) {
    order: 7;
    width: 230px;
    margin: 0;
  }
}

.button--modal {
  width: 260px;
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 15px;
  color: $add-color;
  background: $green-color;
  border: none;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    width: 350px;
  }

  @media (min-width: $min-desktop) {
    width: 350px;
  }
}

.button:hover {
  background: $grey-color;
  border-color: $grey-color;
  color: $add-color;
}

.button:active {
  background: $grey-color;
  border-color: $grey-color;
  color: rgba(255, 255, 255, 0.3);
}
