.button {
  display: block;
  padding-top: 15px;
  padding-bottom: 13px;
  @include font-bold();
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  font-size: 17px;
  color: $grey-color;
  border: 2px solid $btn-bg;
  outline: none;
  background: transparent;
}

.button--contacts {
  width: 260px;
  margin: 0 auto;
  order: 5;
  letter-spacing: 0.7px;
}
