.comments__container {
  @include mobal-container();
  padding-top: 32px;
  padding-right: 30px;
  padding-bottom: 51px;
  padding-left: 30px;
  background: transparent url("../img/bg-zigzag-line.svg") bottom 0px right 8px repeat-x;
  background-size: 320px 7px;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    @include flex-row();
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 768px;
    padding-top: 77px;
    padding-right: 50px;
    padding-bottom: 100px;
    padding-left: 50px;
    background: url("../img/review@1x.jpg") 0 0 no-repeat, url("../img/bg-zigzag-line.svg") bottom 0px right 18px repeat-x;
    background-size: 350px auto, 768px 17px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/review@2x.jpg") 0 0 no-repeat, url("../img/bg-zigzag-line.svg") bottom 0px right 18px repeat-x;
      background-size: 350px auto, 768px 17px;
    }
  }

  @media (min-width: $min-desktop) {
    @include flex-row();
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 1050px;
    padding-top: 126px;
    padding-right: 0;
    padding-bottom: 154px;
    padding-left: 175px;
    background: url("../img/review@1x.jpg") 0 56px no-repeat, url("../img/bg-zigzag-line.svg") bottom 0px right 26px repeat-x;
    background-size: 350px auto, 1050px 23px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/review@2x.jpg") 0 56px no-repeat, url("../img/bg-zigzag-line.svg") bottom 0px right 26px repeat-x;
      background-size: 350px auto, 1050px 23px;
    }
  }
}

.comments__title {
  @include field-reset();
  padding-bottom: 23px;

  @include font-bold();
  line-height: 30px;
  font-size: 27px;
  color: $main-color;
  letter-spacing: -1.7px;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    order: 1;
    padding-bottom: 49px;
    line-height: 50px;
    font-size: 43px;
    letter-spacing: -0.8px;
  }

  @media (min-width: $min-desktop) {
    order: 1;
    padding-bottom: 49px;
    line-height: 57px;
    font-size: 53px;
    letter-spacing: -0.8px;
  }
}

.comments__text {
  @include field-reset();
  padding-bottom: 28px;

  @include font-regular();
  line-height: 30px;
  font-size: 15px;
  color: $grey-color;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    order: 3;
    padding-bottom: 57px;
    line-height: 30px;
    font-size: 17px;
  }

  @media (min-width: $min-desktop) {
    order: 3;
    width: 770px;
    padding-bottom: 39px;
    line-height: 30px;
    font-size: 17px;
  }
}

.comments__name {
  display: block;
  padding-bottom: 30px;

  @include font-bold();
  line-height: 24px;
  font-size: 17px;
  color: $main-color;
  letter-spacing: 0.1px;

  a {
    display: block;
    padding-top: 2px;

    @include font-regular();
    line-height: 30px;
    font-size: 17px;
    color: $grey-color;
    letter-spacing: 0;
  }

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    order: 4;
    line-height: 24px;
    font-size: 18px;

    a {
      padding-top: 7px;
      line-height: 24px;
      font-size: 17px;
    }
  }

  @media (min-width: $min-desktop) {
    order: 4;
    line-height: 24px;
    font-size: 17px;

    a {
      line-height: 30px;
      font-size: 17px;
    }
  }
}

.comments__controls {
  @include flex-row();
  width: 100%;
  padding-bottom: 36px;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    order: 5;
    width: 176px;
  }

  @media (min-width: $min-desktop) {
    order: 5;
    width: 176px;
  }
}

.comments__controls-direction {
  width: 50%;
  padding-top: 26px;
  padding-bottom: 26px;
  font-size: 0;
  border: 1px solid $controls-bg;
  background: transparent url("../img/icon-right-arrow.svg") top 12px left 37px no-repeat;
  background-size: 51px 26px;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    border: none;
    background-position: 19px 16px;
    background-size: 51px 26px;
  }

  @media (min-width: $min-desktop) {
    border: none;
    background-position: 19px 15px;
    background-size: 51px 26px;
  }
}

.comments__controls-direction:first-child {
  transform: rotate(180deg);
  background-position: 40px 14px;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    background-position: 18px 10px;
  }

  @media (min-width: $min-desktop) {
    background-position: 18px 11px;
  }
}

.comments__controls-direction:hover {
  opacity: 0.6;
}

.comments__controls-direction:active {
  opacity: 0.3;
}
