.footer {
  background: $footer-bg;
}
.footer__container {
  @include mobal-container();
  padding-top: 24px;
  padding-right: 30px;
  padding-bottom: 22px;
  padding-left: 30px;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    @include flex-row();
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 768px;
    padding-top: 51px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
  }

  @media (min-width: $min-desktop) {
    @include flex-row();
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 1250px;
    padding-top: 51px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 100px;
  }
}
.footer__logo {
  display: none;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    display: block;
  }

  @media (min-width: $min-desktop) {
    display: block;
  }
}
.footer__logo-link {

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    display: block;
    svg {
      width: 102px;
      height: 34px;
    }
  }

  @media (min-width: $min-desktop) {
    display: block;
    svg {
      width: 102px;
      height: 34px;
    }
  }
}
.footer__developers {
  @include flex-row();
  justify-content: center;
  padding-top: 49px;
  span {
    display: block;
    padding-top: 4px;
    padding-right: 27px;
    @include font-bold();
    line-height: 19px;
    font-size: 19px;
    color: $main-color;
  }
  a {
    display: block;
    width: 27px;
    height: 34px;
    font-size: 0;
  }

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    padding-top: 7px;
    span {
      padding-right: 30px;
    }
  }

  @media (min-width: $min-desktop) {
    padding-top: 7px;
    span {
      padding-right: 30px;
    }
  }
}
a .footer__logo-footer {
  fill: $main-color;
}
a:hover .footer__logo-footer {
  fill: $input-add;
}
a:active .footer__logo-footer {
  fill: rgba(70, 193, 174, 0.3);
}
a .footer__logo-htmlacademy {
  fill: $green-color;
}
a:hover .footer__logo-htmlacademy {
  fill: $input-add;
}
a:active .footer__logo-htmlacademy {
  fill: rgba(70, 193, 174, 0.3);
}
