.form {
  padding-bottom: 55px;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    @include flex-row();
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }

  @media (min-width: $min-desktop) {
    @include flex-row();
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
}
/* -------------------------------------------------------------- */
.form__container {
  width: 260px;
  margin: 0 auto;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    width: 100%;
    margin: 0px;
  }

  @media (min-width: $min-desktop) {
    width: 100%;
    margin: 0px;
  }
}
/* -------------------------------------------------------------- */
.form__container--dark {

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    background: $footer-bg;
  }

  @media (min-width: $min-desktop) {
    background: $footer-bg;
  }
}
/* -------------------------------------------------------------- */
.form__type {
  @include field-reset();
  padding-bottom: 20px;
  border: none;
  border-top: 1px solid $green-color--lighter;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    order: 1;
    position: relative;
    width: 768px;
    margin: 0px auto;
    padding-right: 50px;
    padding-bottom: 11px;
    padding-left: 217px;
    border: none;
  }

  @media (min-width: $min-desktop) {
    order: 1;
    position: relative;
    width: 1250px;
    margin: 0px auto;
    padding-right: 100px;
    padding-bottom: 11px;
    padding-left: 275px;
    border: none;
  }
}
/* -------------------------------------------------------------- */
.form__type-title {
  width: 62px;
  margin-bottom: 34px;
  @include font-bold();
  line-height: 17px;
  font-size: 17px;
  text-transform: uppercase;
  color: $green-color;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    position: absolute;
    top: 1px;
    left: 51px;
    margin: 0px;
  }

  @media (min-width: $min-desktop) {
    position: absolute;
    top: 1px;
    left: 164px;
    margin: 0px;
  }
}
/* -------------------------------------------------------------- */
.form__type-container {
  @include flex-column();
  flex-wrap: nowrap;

  input {
    display: none;
  }

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {

  }

  @media (min-width: $min-desktop) {

  }
}
/* -------------------------------------------------------------- */
.form__type-label {
  position: relative;
  display: block;
  padding-right: 10px;
  padding-bottom: 24px;
  padding-left: 64px;
  @include font-bold();
  line-height: 18px;
  font-size: 17px;
  color: $main-color;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    padding-right: 0px;
    padding-bottom: 57px;
    padding-left: 81px;
    @include font-bold();
    line-height: 19px;
    font-size: 19px;
  }

  @media (min-width: $min-desktop) {
    padding-bottom: 56px;
    padding-left: 81px;
    line-height: 19px;
    font-size: 19px;
  }
}
/* -------------------------------------------------------------- */
.form__type-label::before {
  content: "";
  position: absolute;
  display: block;
  top: -8px;
  left: 2px;
  width: 38px;
  height: 38px;
  border: 2px solid $grey-color;
  border-radius: 50%;
  cursor: pointer;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    top: -15px;
    left: 0px;
    width: 52px;
    height: 52px;
  }

  @media (min-width: $min-desktop) {
    top: -15px;
    left: 0px;
    width: 52px;
    height: 52px;
  }
}
/* -------------------------------------------------------------- */
#form__type-1:checked ~ .form__type-label--1::before,
#form__type-2:checked ~ .form__type-label--2::before {
  background: $green-color--lighter;
  box-shadow: inset 0px 0px 0px 9px $add-color;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    box-shadow: inset 0px 0px 0px 13px $add-color;
  }

  @media (min-width: $min-desktop) {
    box-shadow: inset 0px 0px 0px 12px $add-color;
  }
}
/* -------------------------------------------------------------- */
.form__color {
  @include field-reset();
  border: none;
  border-top: 1px solid $green-color--lighter;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    order: 2;
    position: relative;
    width: 768px;
    margin: 0px auto;
    padding-top: 65px;
    padding-right: 50px;
    padding-bottom: 11px;
    padding-left: 217px;
    border: none;
  }

  @media (min-width: $min-desktop) {
    order: 2;
    position: relative;
    width: 1250px;
    margin: 0px auto;
    padding-top: 65px;
    padding-right: 100px;
    padding-bottom: 11px;
    padding-left: 275px;
    border: none;
  }
}
/* -------------------------------------------------------------- */
.form__color-title {
  margin-bottom: 35px;
  width: 62px;
  @include font-bold();
  line-height: 17px;
  font-size: 17px;
  text-transform: uppercase;
  color: $green-color;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    position: absolute;
    top: 66px;
    left: 51px;
    margin: 0px;
  }

  @media (min-width: $min-desktop) {
    position: absolute;
    top: 66px;
    left: 161px;
    margin: 0px;
  }
}
/* -------------------------------------------------------------- */
.form__color-container {

  input {
    display: none;
  }

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    @include flex-row();
    flex-wrap: wrap;
  }

  @media (min-width: $min-desktop) {
    @include flex-row();
    flex-wrap: wrap;
  }
}
/* -------------------------------------------------------------- */
.form__color-label {
  position: relative;
  display: block;
  padding-right: 0px;
  padding-bottom: 43px;
  padding-left: 63px;
  @include font-bold();
  line-height: 18px;
  font-size: 17px;
  color: $main-color;
  letter-spacing: 0.3px;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    width: 262px;
    padding-right: 0px;
    padding-bottom: 57px;
    padding-left: 80px;
    @include font-bold();
    line-height: 19px;
    font-size: 19px;
  }

  @media (min-width: $min-desktop) {
    width: 263px;
    padding-right: 0px;
    padding-bottom: 57px;
    padding-left: 80px;
    @include font-bold();
    line-height: 19px;
    font-size: 19px;
  }
}
/* -------------------------------------------------------------- */
.form__color-label:nth-child(2n) {

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    width: 230px;
    padding-right: 0px;
    padding-left: 80px;
  }

  @media (min-width: $min-desktop) {

  }
}
/* -------------------------------------------------------------- */
.form__color-label::before {
  content: "";
  position: absolute;
  display: block;
  top: -11px;
  left: 1px;
  width: 40px;
  height: 39px;
  border: 2px solid $grey-color;
  cursor: pointer;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    top: -15px;
    left: 0px;
    width: 54px;
    height: 52px;
  }

  @media (min-width: $min-desktop) {
    top: -15px;
    left: 0px;
    width: 54px;
    height: 52px;
  }
}
/* -------------------------------------------------------------- */
#form__color-1:checked ~ .form__color-label--1::before,
#form__color-2:checked ~ .form__color-label--2::before,
#form__color-3:checked ~ .form__color-label--3::before,
#form__color-4:checked ~ .form__color-label--4::before,
#form__color-5:checked ~ .form__color-label--5::before,
#form__color-6:checked ~ .form__color-label--6::before {
  background: transparent url("../img/icon-tick.svg") 5px 9px no-repeat;
  background-size: 70%;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    background: transparent url("../img/icon-tick.svg") 8px 12px no-repeat;
    background-size: 73%;
  }

  @media (min-width: $min-desktop) {
    background: transparent url("../img/icon-tick.svg") 8px 12px no-repeat;
    background-size: 73%;
  }
}
/* -------------------------------------------------------------- */
.form__name {
  @include field-reset();
  padding-bottom: 9px;
  border: none;
  border-top: 1px solid $green-color--lighter;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    order: 3;
    position: relative;
    width: 768px;
    margin: 0px auto;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 26px;
    padding-left: 217px;
    border: none;
  }

  @media (min-width: $min-desktop) {
    order: 3;
    position: relative;
    width: 1250px;
    margin: 0px auto;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 26px;
    padding-left: 275px;
    border: none;
  }
}
/* -------------------------------------------------------------- */
.form__name-title {
  width: 62px;
  margin-bottom: 27px;
  @include font-bold();
  line-height: 17px;
  font-size: 17px;
  text-transform: uppercase;
  color: $green-color;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    position: absolute;
    top: 66px;
    left: 51px;
    margin: 0px;
  }

  @media (min-width: $min-desktop) {
    position: absolute;
    top: 67px;
    left: 161px;
    margin: 0px;
  }
}
/* -------------------------------------------------------------- */
.form__name-container {
  @include flex-column();
  flex-wrap: nowrap;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {

  }

  @media (min-width: $min-desktop) {
    padding-right: 175px;
  }
}
/* -------------------------------------------------------------- */
.form__name-label {
  display: block;
  padding-bottom: 22px;
  @include font-bold();
  line-height: 18px;
  font-size: 17px;
  color: $main-color;

  span {

  }

  input {
    display: block;
    width: 100%;
    min-height: 52px;
    @include font-regular();
    line-height: 18px;
    font-size: 17px;
    color: $grey-color;
    border: none;
    box-shadow: inset 0px -2px $main-color;
  }

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    @include flex-row();
    align-items: center;
    padding-bottom: 24px;
    line-height: 19px;
    font-size: 19px;

    span {
      padding-right: 27px;
    }

    input {
      padding-left: 15px;
      @include font-regular();
      line-height: 19px;
      font-size: 19px;
    }
  }

  @media (min-width: $min-desktop) {
    @include flex-row();
    align-items: center;
    padding-bottom: 24px;
    line-height: 19px;
    font-size: 19px;

    span {
      padding-right: 27px;
    }

    input {
      padding-left: 15px;
      @include font-regular();
      line-height: 19px;
      font-size: 19px;
    }
  }
}
/* -------------------------------------------------------------- */
.form__phone {
  @include field-reset();
  padding-bottom: 32px;
  border: none;
  border-top: 1px solid $green-color--lighter;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    order: 4;
    position: relative;
    width: 768px;
    margin: 0px auto;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 217px;
    border: none;
  }

  @media (min-width: $min-desktop) {
    order: 4;
    position: relative;
    width: 1250px;
    margin: 0px auto;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 0px;
    padding-left: 275px;
    border: none;
  }
}
/* -------------------------------------------------------------- */
.form__phone-title {
  width: 62px;
  margin-bottom: 6px;
  @include font-bold();
  line-height: 17px;
  font-size: 17px;
  text-transform: uppercase;
  color: $green-color;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    position: absolute;
    top: 67px;
    left: 52px;
    margin: 0px;
  }

  @media (min-width: $min-desktop) {
    position: absolute;
    top: 67px;
    left: 162px;
    margin: 0px;
  }
}
/* -------------------------------------------------------------- */
.form__phone-container {

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {

  }

  @media (min-width: $min-desktop) {
    padding-right: 175px;
  }
}
/* -------------------------------------------------------------- */
.form__phone-label {

  input {
    display: block;
    width: 100%;
    min-height: 52px;
    @include font-regular();
    line-height: 18px;
    font-size: 17px;
    color: $grey-color;
    border: none;
    box-shadow: inset 0px -2px $main-color;
    background: url("../img/icon-phone.svg") right 7px top 11px no-repeat;
    background-size: 25px 24px;
  }

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {

    input {
      padding-left: 17px;
      line-height: 19px;
      font-size: 19px;
      background: transparent url("../img/icon-phone.svg") right 26px top 11px no-repeat;
      background-size: 25px 24px;
    }
  }

  @media (min-width: $min-desktop) {

    input {
      padding-left: 17px;
      line-height: 19px;
      font-size: 19px;
      background: transparent url("../img/icon-phone.svg") right 8px top 11px no-repeat;
      background-size: 25px 24px;
    }
  }
}
/* -------------------------------------------------------------- */
.form__email {
  @include field-reset();
  padding-bottom: 32px;
  border: none;
  border-top: 1px solid $green-color--lighter;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    order: 5;
    position: relative;
    width: 768px;
    margin: 0px auto;
    padding-top: 24px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 217px;
    border: none;
  }

  @media (min-width: $min-desktop) {
    order: 5;
    position: relative;
    width: 1250px;
    margin: 0px auto;
    padding-top: 24px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 275px;
    border: none;
  }
}
/* -------------------------------------------------------------- */
.form__email-title {
  width: 81px;
  margin-bottom: 6px;
  @include font-bold();
  line-height: 17px;
  font-size: 17px;
  text-transform: uppercase;
  color: $green-color;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    position: absolute;
    top: 40px;
    left: 52px;
    margin: 0px;
  }

  @media (min-width: $min-desktop) {
    position: absolute;
    top: 42px;
    left: 162px;
    margin: 0px;
  }
}
/* -------------------------------------------------------------- */
.form__email-container {

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {

  }

  @media (min-width: $min-desktop) {
    padding-right: 175px;
  }
}
/* -------------------------------------------------------------- */
.form__email-label {

  input {
    display: block;
    width: 100%;
    min-height: 52px;
    @include font-regular();
    line-height: 18px;
    font-size: 17px;
    color: $grey-color;
    border: none;
    box-shadow: inset 0px -2px $main-color;
    background: url("../img/icon-mail.svg") right 3px top 11px no-repeat;
    background-size: 32px auto;
  }

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {

    input {
      padding-left: 17px;
      line-height: 19px;
      font-size: 19px;
      background: transparent url("../img/icon-mail.svg") right 22px top 11px no-repeat;
      background-size: 32px auto;
    }
  }

  @media (min-width: $min-desktop) {

    input {
      padding-left: 17px;
      line-height: 19px;
      font-size: 19px;
      background: transparent url("../img/icon-mail.svg") right 4px top 11px no-repeat;
      background-size: 32px auto;
    }
  }
}
/* -------------------------------------------------------------- */
.form__addition {
  @include field-reset();
  padding-bottom: 12px;
  border: none;
  border-top: 1px solid $green-color--lighter;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    order: 6;
    position: relative;
    width: 768px;
    margin: 0px auto;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 49px;
    padding-left: 217px;
    border: none;
  }

  @media (min-width: $min-desktop) {
    order: 6;
    position: relative;
    width: 1250px;
    margin: 0px auto;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 45px;
    padding-left: 275px;
    border: none;
  }
}
/* -------------------------------------------------------------- */
.form__addition-title {
  width: 62px;
  margin-bottom: 24px;
  @include font-bold();
  line-height: 17px;
  font-size: 17px;
  text-transform: uppercase;
  color: $green-color;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    position: absolute;
    top: 66px;
    left: 51px;
    margin: 0px;
  }

  @media (min-width: $min-desktop) {
    position: absolute;
    top: 67px;
    left: 163px;
    margin: 0px;
  }
}
/* -------------------------------------------------------------- */
.form__addition-container {

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {

  }

  @media (min-width: $min-desktop) {
    padding-right: 175px;
  }
}
/* -------------------------------------------------------------- */
.form__addition-label {
  width: 100%;
  min-height: 142px;
  padding-top: 13px;
  padding-left: 15px;
  @include font-regular();
  line-height: 18px;
  font-size: 17px;
  color: $grey-color;
  border: 2px solid $main-color;
  resize: none;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    line-height: 19px;
    font-size: 19px;
  }

  @media (min-width: $min-desktop) {
    line-height: 19px;
    font-size: 19px;
  }
}
/* -------------------------------------------------------------- */
.form__notice {
  display: block;
  width: 260px;
  margin: 0 auto;
  padding-bottom: 31px;
  @include font-regular();
  line-height: 16px;
  font-size: 14px;
  color: $grey-color;
  letter-spacing: 0.1px;
  border-color: $grey-color;

  sup {

  }

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    order: 8;
    width: auto;
    margin: 0px;
    padding-bottom: 0px;
    padding-left: 137px;
    line-height: 30px;
    font-size: 17px;

    sup {

    }
  }

  @media (min-width: $min-desktop) {
    order: 8;
    width: auto;
    margin: 0px;
    padding-bottom: 0px;
    padding-left: 173px;
    line-height: 30px;
    font-size: 17px;

    sup {

    }
  }
}
/* HOVER/ACTIVE/FOCUS=============================================== */
.form__type-label:hover::before {
  border-color: $green-color--lighter;
}

.form__type-label:active::before {
  border-color: rgba(68, 68, 68, 0.3);
}

.form__color-label:hover::before {
  border-color: $green-color--lighter;
}

.form__color-label:active::before {
  border-color: rgba(68, 68, 68, 0.3);
}

.form__name-label input:hover,
.form__name-label input:active,
.form__name-label input:focus {
  outline: none;
  box-shadow: inset 0px -2px $green-color--lighter;
}

.form__name-label input::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__name-label input::-moz-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__name-label input:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__name-label input:hover::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__name-label input:hover::-moz-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__name-label input:hover:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__name-label input:active::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 1);
}

.form__name-label input:active::-moz-placeholder {
  color: rgba(68, 68, 68, 1);
}

.form__name-label input:active:-ms-input-placeholder {
  color: rgba(68, 68, 68, 1);
}

.form__phone-label input:hover,
.form__phone-label input:active,
.form__phone-label input:focus {
  outline: none;
  background-image: url("../img/icon-phone--stat.svg");
  box-shadow: inset 0px -2px $green-color--lighter;
}

.form__phone-label input::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__phone-label input::-moz-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__phone-label input:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__phone-label input:hover::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__phone-label input:hover::-moz-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__phone-label input:hover:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__phone-label input:active::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 1);
}

.form__phone-label input:active::-moz-placeholder {
  color: rgba(68, 68, 68, 1);
}

.form__phone-label input:active:-ms-input-placeholder {
  color: rgba(68, 68, 68, 1);
}

.form__email-label input:hover,
.form__email-label input:active,
.form__email-label input:focus {
  outline: none;
  background-image: url("../img/icon-mail--stat.svg");
  box-shadow: inset 0px -2px $green-color--lighter;
}

.form__email-label input::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__email-label input::-moz-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__email-label input:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__email-label input:hover::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__email-label input:hover::-moz-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__email-label input:hover:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__email-label input:active::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 1);
}

.form__email-label input:active::-moz-placeholder {
  color: rgba(68, 68, 68, 1);
}

.form__email-label input:active:-ms-input-placeholder {
  color: rgba(68, 68, 68, 1);
}

.form__addition-label:hover,
.form__addition-label:active,
.form__addition-label:focus {
  outline: none;
  border: 2px solid $green-color--lighter;
}

.form__addition-label::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__addition-label::-moz-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__addition-label:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__addition-label:hover::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__addition-label:hover::-moz-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__addition-label:hover:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__addition-label:active::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 1);
}

.form__addition-label:active::-moz-placeholder {
  color: rgba(68, 68, 68, 1);
}

.form__addition-label:active:-ms-input-placeholder {
  color: rgba(68, 68, 68, 1);
}
