.header {

}

.header__container {
  @include mobal-container();
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 117px;
}

.header__logo {

}

.header__logo-link {
  display: block;
  @include field-reset();
}

.header__logo-link img {
  display: block;
  @include field-reset();
}

.header__nav {
  display: none;
}

.header__nav-list {

}

.header__nav-item {

}

.header__nav-toggle {

}

.header__toggle {

}
