.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  display: none;
  background: rgba(255, 255, 255, 0.9);
}

.modal--show {
  display: block;
}

.modal__container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 30;
  width: 320px;
  min-height: 336px;
  margin-top: -168px;
  margin-left: -160px;
  padding-top: 31px;
  padding-bottom: 46px;
  background: $add-color;
  box-shadow: 0 0 0 1px $shadow,
  0 5px 10px 0 rgba(0, 1, 1, 0.25);
  opacity: 1;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    width: 566px;
    margin-top: -168px;
    margin-left: -283px;
    padding-top: 33px;
  }

  @media (min-width: $min-desktop) {
    width: 566px;
    margin-top: -168px;
    margin-left: -283px;
    padding-top: 33px;
  }
}

.modal__close {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 35px;
  height: 35px;
  font-size: 0;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    top: 10px;
    right: 10px;
  }

  @media (min-width: $min-desktop) {
    top: 10px;
    right: 10px;
  }
}

.modal__close::before {
  content: "";
  position: absolute;
  display: block;
  top: 17px;
  left: 8px;
  width: 20px;
  height: 2px;
  background: $grey-color;
  transform: rotate(45deg);
}

.modal__close::after {
  content: "";
  position: absolute;
  display: block;
  top: 17px;
  left: 8px;
  width: 20px;
  height: 2px;
  background: $grey-color;
  transform: rotate(-45deg);
}

.modal__title {
  @include field-reset();
  padding-right: 80px;
  padding-bottom: 11px;
  padding-left: 80px;

  @include font-bold();
  line-height: 30px;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  color: $main-color;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    padding-bottom: 14px;
    line-height: 57px;
    font-size: 30px;
  }

  @media (min-width: $min-desktop) {
    padding-bottom: 14px;
    line-height: 57px;
    font-size: 30px;
  }
}

.modal__size {
  margin: 0;
  padding-bottom: 31px;
  text-align: center;
  font-size: 0;
  vertical-align: top;
  border: none;

  input {
    display: none;
  }
}

.modal__size-title {
  padding-bottom: 24px;

  @include font-regular();
  line-height: 30px;
  font-size: 15px;
  text-align: center;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    padding-bottom: 21px;
    line-height: 30px;
    font-size: 17px;
  }

  @media (min-width: $min-desktop) {
    padding-bottom: 21px;
    line-height: 30px;
    font-size: 17px;
  }
}

.modal__size-label {
  display: inline-block;
  width: 82px;
  min-height: 52px;
  margin-right: 7px;
  padding-top: 17px;

  @include font-bold();
  line-height: 17px;
  font-size: 17px;
  color: $grey-color;
  text-align: center;
  box-shadow: inset 0 0 0 2px rgba(68, 68, 68, 0.1);
  cursor: pointer;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    width: 112px;
    min-height: 52px;
  }

  @media (min-width: $min-desktop) {
    width: 112px;
    min-height: 52px;
  }
}

.modal__size-label--3 {
  margin-right: 0;
}

#modal__size-1:checked ~ .modal__size-label--1,
#modal__size-2:checked ~ .modal__size-label--2,
#modal__size-3:checked ~ .modal__size-label--3 {
  box-shadow: inset 0 0 0 2px $green-color;
}

.modal__size-label:hover {
  box-shadow: inset 0 0 0 2px rgba(68, 68, 68, 0.3);
}
