.order {
  margin: 0;
  @include mobal-container();
  padding: 0;
  padding-right: 30px;
  padding-left: 30px;


  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    width: 768px;
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (min-width: $min-desktop) {
    width: 1250px;
    padding-right: 300px;
    padding-left: 275px;
  }
}

.order__text {
  margin: 0;
  padding-top: 22px;
  padding-bottom: 23px;
  @include font-regular();
  line-height: 24px;
  font-size: 13px;
  letter-spacing: 0.1px;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    padding-top: 75px;
    padding-bottom: 73px;
    @include font-regular();
    line-height: 30px;
    font-size: 17px;
    letter-spacing: 0;
  }

  @media (min-width: $min-desktop) {
    padding-top: 120px;
    padding-bottom: 73px;
    @include font-regular();
    line-height: 30px;
    font-size: 17px;
    letter-spacing: 0;
  }
}
