.page-title {
  margin: 0px;
  padding: 0px;
  padding-top: 71px;
  padding-bottom: 76px;
  @include font-bold();
  line-height: 30px;
  font-size: 27px;
  text-align: center;
  background: $footer-bg;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    padding-top: 54px;
    @include font-bold();
    line-height: 50px;
    font-size: 43px;
    background: $footer-bg url("../img/bg-zigzag-fill.svg") left 0px bottom -16px repeat-x;
    background-size: 768px 28px;
  }

  @media (min-width: $min-desktop) {
    width: 100%;
    padding-top: 96px;
    padding-bottom: 103px;
    @include font-bold();
    line-height: 57px;
    font-size: 53px;
    background: $footer-bg url("../img/bg-zigzag-fill.svg") left 0px bottom -16px repeat-x;
    background-size: 1150px 34px;
  }
}
/* -------------------------------------------------------------- */
