.product {
  @include flex-column();
  flex-wrap: nowrap;
  padding-top: 30px;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    @include flex-row();
    flex-wrap: nowrap;
    width: 668px;
    margin: 0px auto;
    padding-top: 0px;
    padding-bottom: 54px;
  }

  @media (min-width: $min-desktop) {
    width: 315px;
    margin: 0px;
    padding-top: 127px;
  }
}
/* -------------------------------------------------------------- */
.product--first {


  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    padding-top: 83px;
  }

  @media (min-width: $min-desktop) {

  }
}
/* -------------------------------------------------------------- */
.product--last {


  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    padding-bottom: 52px;
  }

  @media (min-width: $min-desktop) {

  }
}
/* -------------------------------------------------------------- */
.product__container {
  order: 2;
  @include flex-column();
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 260px;
  margin: 0px auto;
  padding: 0px;
  box-shadow: inset 0px -1px rgba(68, 68, 68, 0.1),
              inset 0px 1px rgba(68, 68, 68, 0.1),
              inset -1px 0px rgba(68, 68, 68, 0.1),
              inset 1px 0px rgba(68, 68, 68, 0.1);

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    width: 334px;
    @include field-reset();
  }

  @media (min-width: $min-desktop) {
    width: 315px;
    min-height: 197px;
    @include field-reset();
  }
}
/* -------------------------------------------------------------- */
.product__title {
  order: 2;
  @include field-reset();
  padding-top: 27px;
  padding-right: 28px;
  padding-bottom: 5px;
  padding-left: 28px;

  a {
    display: block;
    @include field-reset();
    @include font-bold();
    line-height: 24px;
    font-size: 17px;
    color: $main-color;
  }

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    width: 295px;

    a {
      line-height: 24px;
      font-size: 20px;
    }
  }

  @media (min-width: $min-desktop) {
    width: 315px;
    padding-top: 26px;
    padding-right: 55px;
    padding-left: 27px;

    a {
      line-height: 24px;
      font-size: 20px;
    }
  }
}
/* -------------------------------------------------------------- */
.product__visual {
  order: 1;
  width: 260px;
  margin: 0px auto;
  box-shadow: 0px 1px rgba(68, 68, 68, 0.1);

  img {
    display: block;
    @include field-reset();
  }

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    width: 334px;
    @include field-reset();

    img {
      width: 334px;
      height: 334px;
      max-width: none;
    }
  }

  @media (min-width: $min-desktop) {
    width: 315px;
    @include field-reset();

    img {
      width: 315px;
      height: 462px;
      max-width: none;
    }
  }
}
/* -------------------------------------------------------------- */
.product__property {
  order: 3;
  padding-right: 28px;
  padding-bottom: 41px;
  padding-left: 28px;
  @include font-regular();
  line-height: 30px;
  font-size: 13px;
  color: $grey-color;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    line-height: 30px;
    font-size: 15px;
  }

  @media (min-width: $min-desktop) {
    padding-bottom: 0px;
    padding-left: 26px;
    line-height: 30px;
    font-size: 15px;
  }
}
/* -------------------------------------------------------------- */
.product__buy {
  order: 4;
  position: relative;
  @include flex-row();
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-right: 28px;
  padding-bottom: 27px;
  padding-left: 28px;
  @include font-bold();
  line-height: 24px;
  font-size: 15px;

  a {
    display: block;
    width: 25px;
    min-height: 25px;
    font-size: 0px;
    background: transparent url("../img/icon-cart.svg") 5px 1px no-repeat;
    background-size: 21px 18px;
  }

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    margin-top: auto;

    a {
      background-position: 1px 1px;
      background-size: 21px 18px;
    }
  }

  @media (min-width: $min-desktop) {
    min-height: 74px;
    margin-top: auto;
    padding-top: 23px;
    padding-bottom: 0px;
    padding-left: 21px;

    a {
      background-position: 0px 1px;
      background-size: 21px 18px;
    }
  }
}
/* -------------------------------------------------------------- */
.product__buy::before {
  content: "";
  position: absolute;
  display: block;
  top: -21px;
  right: 28px;
  left: 28px;
  height: 1px;
  background: $controls-bg;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {

  }

  @media (min-width: $min-desktop) {
    top: -0px;
    right: 28px;
    left: 28px;
    height: 1px;
  }
}
/* -------------------------------------------------------------- */
.product__price {
  display: block;
  @include font-bold();
  line-height: 24px;
  font-size: 15px;
  color: $main-color;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    padding-left: 5px;
    line-height: 24px;
    font-size: 17px;
  }

  @media (min-width: $min-desktop) {
    padding-left: 5px;
    line-height: 24px;
    font-size: 17px;
  }
}
