.product {
  @include flex-column();
  flex-wrap: nowrap;
  padding-top: 30px;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    @include flex-row();
    flex-wrap: nowrap;
    width: 668px;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 54px;
  }

  @media (min-width: $min-desktop) {
    width: 315px;
    margin: 0;
    padding-top: 127px;
  }
}
.product--first {

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    padding-top: 83px;
  }
}
.product--last {

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    padding-bottom: 52px;
  }
}
.product__container {
  order: 2;
  @include flex-column();
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 260px;
  margin: 0 auto;
  padding: 0;
  box-shadow: inset 0 -1px rgba(68, 68, 68, 0.1),
  inset 0 1px rgba(68, 68, 68, 0.1),
  inset -1px 0 rgba(68, 68, 68, 0.1),
  inset 1px 0 rgba(68, 68, 68, 0.1);

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    width: 334px;
    @include field-reset();
  }

  @media (min-width: $min-desktop) {
    width: 315px;
    min-height: 197px;
    @include field-reset();
  }
}
.product__title {
  order: 2;
  @include field-reset();
  padding-top: 27px;
  padding-right: 28px;
  padding-bottom: 5px;
  padding-left: 28px;
  a {
    display: block;
    @include field-reset();
    @include font-bold();
    line-height: 24px;
    font-size: 17px;
    color: $main-color;
  }

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    width: 295px;
    a {
      line-height: 24px;
      font-size: 20px;
    }
  }

  @media (min-width: $min-desktop) {
    width: 315px;
    padding-top: 26px;
    padding-right: 55px;
    padding-left: 27px;
    a {
      line-height: 24px;
      font-size: 20px;
    }
  }
}
.product__visual {
  order: 1;
  width: 260px;
  margin: 0 auto;
  box-shadow: 0 1px rgba(68, 68, 68, 0.1);
  img {
    display: block;
    @include field-reset();
  }

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    width: 334px;
    @include field-reset();
    img {
      width: 334px;
      height: 334px;
      max-width: none;
    }
  }

  @media (min-width: $min-desktop) {
    width: 315px;
    @include field-reset();
    img {
      width: 315px;
      height: 462px;
      max-width: none;
    }
  }
}
.product__property {
  order: 3;
  padding-right: 28px;
  padding-bottom: 41px;
  padding-left: 28px;
  @include font-regular();
  line-height: 30px;
  font-size: 13px;
  color: $grey-color;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    line-height: 30px;
    font-size: 15px;
  }

  @media (min-width: $min-desktop) {
    padding-bottom: 0;
    padding-left: 26px;
    line-height: 30px;
    font-size: 15px;
  }
}
.product__buy {
  order: 4;
  position: relative;
  @include flex-row();
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-right: 28px;
  padding-bottom: 27px;
  padding-left: 28px;
  @include font-bold();
  line-height: 24px;
  font-size: 15px;
  a {
    display: block;
    width: 25px;
    min-height: 25px;
    font-size: 0;
  }
  svg {
    position: absolute;
    top: 0;
    right: 27px;
  }

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    margin-top: auto;
  }
  svg {
    position: absolute;
    top: 0;
    right: 31px;
  }

  @media (min-width: $min-desktop) {
    min-height: 74px;
    margin-top: auto;
    padding-top: 23px;
    padding-bottom: 0;
    padding-left: 21px;
    svg {
      position: absolute;
      top: 24px;
      right: 32px;
    }
  }
}
.product__buy::before {
  content: "";
  position: absolute;
  display: block;
  top: -21px;
  right: 28px;
  left: 28px;
  height: 1px;
  background: $controls-bg;

  @media (min-width: $min-desktop) {
    top: -0px;
    right: 28px;
    left: 28px;
    height: 1px;
  }
}
.product__price {
  display: block;
  @include font-bold();
  line-height: 24px;
  font-size: 15px;
  color: $main-color;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    padding-left: 5px;
    line-height: 24px;
    font-size: 17px;
  }

  @media (min-width: $min-desktop) {
    padding-left: 5px;
    line-height: 24px;
    font-size: 17px;
  }
}
.product:hover .product__container {
  box-shadow: inset 0 -1px rgba(68, 68, 68, 0.1),
  inset 0 1px rgba(68, 68, 68, 0.1),
  inset -1px 0 rgba(68, 68, 68, 0.1),
  inset 1px 0 rgba(68, 68, 68, 0.1),
  0 4px 20px 2px rgba(0, 0, 0, 0.1);
}
a .product__icon-cart {
  fill: rgba(0, 0, 0, 0.2);
}
a:hover .product__icon-cart {
  fill: $green-color;
}
a:active .product__icon-cart {
  fill: rgba(99, 209, 187, 0.3);
}
