.product-info {
  display: none;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    position: absolute;
    @include flex-row();
    flex-wrap: nowrap;
    justify-content: flex-end;
    top: -38px;
    left: 50%;
    width: 384px;
    background: transparent;
  }

  @media (min-width: $min-desktop) {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 50%;
    @include flex-row();
    flex-wrap: nowrap;
    width: 1250px;
    margin-left: -625px;
    padding-right: 100px;
    padding-left: 100px;
    background: transparent;
  }
}

.product-info__new {

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    display: none;
  }

  @media (min-width: $min-desktop) {
    display: block;
    padding-top: 19px;
    font-weight: 700;
    line-height: 24px;
    font-size: 15px;
    color: $grey-color;
    letter-spacing: 0.6px;
  }
}

.product-info__sale {

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    display: none;
  }

  @media (min-width: $min-desktop) {
    display: block;
    margin-left: 58px;
    padding-top: 18px;
    @include font-bold();
    line-height: 24px;
    font-size: 15px;
    color: $grey-color;
    letter-spacing: 0.2px;
  }
}

.product-info__delivery {

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    display: block;
    width: 384px;
    padding-top: 14px;
    padding-right: 49px;
    @include font-regular();
    line-height: 24px;
    font-size: 15px;
    color: $grey-color;
    text-align: right;
  }

  @media (min-width: $min-desktop) {
    margin-left: auto;
    padding-top: 18px;
    @include font-regular();
    line-height: 24px;
    font-size: 15px;
    color: $grey-color;
  }
}

.product-info__new[href]:hover,
.product-info__sale[href]:hover {
  opacity: 0.6;
}

.product-info__new[href]:active,
.product-info__sale[href]:active {
  opacity: 0.3;
}
