.social {
  position: relative;
  @include flex-row();
  flex-wrap: nowrap;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    position: static;
    justify-content: space-between;
    margin: 0;
    padding-top: 5px;
    padding-left: 41px;
  }

  @media (min-width: $min-desktop) {
    position: static;
    justify-content: space-between;
    margin: 0;
    padding-top: 5px;
    padding-left: 41px;
  }
}

.social::before {
  content: "";
  position: absolute;
  display: block;
  top: 56px;
  right: -56px;
  left: -56px;
  height: 1px;
  background: $socisa-bg-icon;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    display: none;
  }

  @media (min-width: $min-desktop) {
    display: none;
  }
}

.social__item {
  min-height: 31px;
  min-width: 32px;
  @include field-reset();

  a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
  }

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {

    a {

    }
  }

  @media (min-width: $min-desktop) {

    a {

    }
  }
}

.social__item--insta {
  padding-top: 6px;
  padding-right: 42px;
  padding-left: 2px;

  a {
    background: transparent;
  }

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    padding-right: 63px;

    a {

    }
  }

  @media (min-width: $min-desktop) {
    padding-right: 63px;

    a {

    }
  }
}

.social__item--facebook {
  padding-right: 37px;

  a {

  }

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    padding-right: 55px;

    a {

    }
  }

  @media (min-width: $min-desktop) {
    padding-right: 55px;

    a {

    }
  }
}

.social__item--twitter {
  padding-top: 5px;

  a {

  }

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {

    a {

    }
  }

  @media (min-width: $min-desktop) {

    a {

    }
  }
}

a .social__icon-insta,
a .social__icon-fb,
a .social__icon-twitter {
  fill: $main-color;
}

a:hover .social__icon-insta,
a:hover .social__icon-fb,
a:hover .social__icon-twitter {
  fill: $input-add;
}

a:active .social__icon-insta,
a:active .social__icon-fb,
a:active .social__icon-twitter {
  fill: rgba(70, 193, 174, 0.3);
}
