.special__container {
  @include mobal-container();
  padding-top: 27px;
  padding-right: 30px;
  padding-bottom: 42px;
  padding-left: 30px;
  background: transparent url("../img/bg-zigzag-line.svg") bottom repeat-x;
  background-size: 320px 7px;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    position: relative;
    @include flex-column();
    align-items: flex-start;
    flex-wrap: wrap;
    width: 768px;
    padding-top: 45px;
    padding-right: 50px;
    padding-bottom: 69px;
    padding-left: 50px;
    background: transparent url("../img/bg-zigzag-line.svg") bottom repeat-x;
    background-size: 768px 17px;
  }

  @media (min-width: $min-desktop) {
    position: relative;
    @include flex-column();
    align-items: flex-start;
    flex-wrap: wrap;
    width: 1050px;
    padding-top: 123px;
    padding-right: 100px;
    padding-bottom: 96px;
    padding-left: 174px;
    background: transparent url("../img/bg-zigzag-line.svg") bottom repeat-x;
    background-size: 1050px 23px;
  }
}

.special__title {
  @include field-reset();
  padding-bottom: 6px;
  @include font-bold();
  line-height: 30px;
  font-size: 25px;
  color: $main-color;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    padding-bottom: 49px;
    line-height: 50px;
    font-size: 43px;
    letter-spacing: -0.4px;
  }

  @media (min-width: $min-desktop) {
    position: relative;
    z-index: 10;
    padding-bottom: 49px;
    line-height: 57px;
    font-size: 53px;
    letter-spacing: -0.3px;
  }
}

.special__title-add {
  display: block;
  padding-bottom: 22px;
  @include font-bold();
  text-transform: uppercase;
  line-height: 20px;
  font-size: 17px;
  color: $green-color;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    position: absolute;
    top: 45px;
    right: 50px;
    width: 126px;
    padding-top: 12px;
    padding-bottom: 0;
    line-height: 17px;
    font-size: 17px;
    color: $green-color;
    text-align: center;
  }

  @media (min-width: $min-desktop) {
    position: absolute;
    top: 139px;
    left: 19px;
    width: 126px;
    line-height: 17px;
    font-size: 17px;
    color: $green-color;
    text-align: center;
  }
}

.special__text {
  margin: 0;
  padding-bottom: 16px;
  @include font-regular();
  line-height: 24px;
  font-size: 15px;
  color: $grey-color;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    width: 295px;
    padding-bottom: 35px;
    line-height: 30px;
    font-size: 17px;
  }

  @media (min-width: $min-desktop) {
    width: 295px;
    padding-bottom: 48px;
    line-height: 30px;
    font-size: 17px;
    letter-spacing: 0;
  }
}

.special__property {
  width: 100%;
  @include font-regular();
  line-height: 24px;
  font-size: 15px;
  color: $grey-color;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid $controls-bg;
  }

  td {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid $controls-bg;
  }

  td:first-child {
    width: 95px;
  }

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    width: 295px;
    line-height: 20px;
    font-size: 15px;

    td {
      padding-top: 9px;
      padding-bottom: 10px;
    }

    td:first-child {

    }
  }

  @media (min-width: $min-desktop) {
    width: 295px;

    td {
      padding-top: 6px;
      padding-bottom: 10px;
      border-bottom: 1px solid $controls-bg;
    }

    td:first-child {
      width: 97px;
    }
  }
}

.special__visual {
  padding-top: 27px;
  padding-bottom: 25px;

  img {
    display: block;
    width: 260px;
    height: 315px;
    margin: 0 auto;
  }

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    position: absolute;
    top: 125px;
    right: 50px;

    img {
      display: block;
      width: 334px;
      height: 404px;
      margin: 0 auto;
    }
  }

  @media (min-width: $min-desktop) {
    position: absolute;
    top: 44px;
    right: 0;
    z-index: 1;

    img {
      display: block;
      width: 525px;
      height: 636px;
      margin: 0 auto;
    }
  }
}

.special__price {
  display: block;
  padding-bottom: 25px;
  @include font-bold();
  line-height: 24px;
  font-size: 17px;
  color: $grey-color;
  text-align: center;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    width: 295px;
    padding-top: 57px;
    padding-bottom: 34px;
    padding-left: 70px;
    line-height: 24px;
    font-size: 20px;
    letter-spacing: 0.1px;
    text-align: left;
  }

  @media (min-width: $min-desktop) {
    width: 295px;
    padding-top: 107px;
    padding-bottom: 34px;
    padding-left: 74px;
    line-height: 24px;
    font-size: 20px;
    letter-spacing: 0.1px;
    text-align: left;
  }
}
