.special {

}

.special__container {
  @include mobal-container();
  padding: 0px;
  padding-top: 27px;
  padding-right: 30px;
  padding-left: 30px;
}

.special__title {
  @include field-reset();
  padding-bottom: 6px;
  @include font-bold();
  line-height: 30px;
  font-size: 25px;
  color: $main-color;
}

.special__title-add {
  display: block;
  padding-bottom: 22px;
  @include font-bold();
  text-transform: uppercase;
  line-height: 20px;
  font-size: 17px;
  color: $green-color;
}

.special__text {
  margin: 0px;
  padding-bottom: 16px;
  @include font-regular();
  line-height: 24px;
  font-size: 15px;
  color: $grey-color;
}

.special__property {
  width: 100%;
  @include font-regular();
  line-height: 24px;
  font-size: 15px;
  color: $grey-color;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid $table-bg;
  }

  td {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid $table-bg;
  }

  td:first-child {
    width: 95px;
  }
}

.special__visual {
  padding-top: 27px;
  padding-bottom: 25px;

  img {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 315px;
  }
}

.special__price {
  display: block;
  padding-bottom: 25px;
  @include font-bold();
  text-align: center;
  line-height: 24px;
  font-size: 17px;
  color: $grey-color;
}
