.view {
  background: $table-bg;

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    background: transparent;
  }

  @media (min-width: $min-desktop) {
    background: transparent;
  }
}

.view__container {
  @include mobal-container();
  padding: 0;
  padding-top: 53px;
  background: $table-bg url("../img/hero-mobile@1x.jpg") no-repeat center -18px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: $table-bg url("../img/hero-mobile@2x.jpg") no-repeat center -18px;
    background-size: 575px auto;
  }

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    position: relative;
    width: 100%;
    background: $table-bg url("../img/hero-tablet@1x.jpg") no-repeat center -42px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: $table-bg url("../img/hero-tablet@2x.jpg") no-repeat center -42px;
      background-size: 1150px auto;
    }
  }

  @media (min-width: $min-desktop) {
    position: relative;
    width: 100%;
    background: $table-bg url("../img/hero-desktop@1x.jpg") no-repeat center 0;
    background-size: 1250px 746px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: $table-bg url("../img/hero-desktop@2x.jpg") no-repeat center 0;
      background-size: 1250px 746px;
    }
  }
}

.view__container::after {

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    content: "";
    position: absolute;
    display: block;
    bottom: -17px;
    width: 100%;
    min-height: 34px;
    background: transparent url("../img/bg-zigzag-fill.svg") 0 5px repeat-x;
    background-size: 768px 24px;
  }

  @media (min-width: $min-desktop) {
    content: "";
    position: absolute;
    display: block;
    bottom: -17px;
    width: 100%;
    min-height: 34px;
    background: transparent url("../img/bg-zigzag-fill.svg") 0 0 repeat-x;
    background-size: 1150px 34px;
  }
}

.view__title {
  @include field-reset();
  padding-top: 18px;
  padding-bottom: 122px;

  @include font-bold();
  line-height: 30px;
  font-size: 27px;
  text-align: center;
  letter-spacing: 0.2px;

  span {
    display: block;
  }

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    width: 600px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 372px;
    line-height: 50px;
    font-size: 43px;

    span {
      display: inline;
    }
  }

  @media (min-width: $min-desktop) {
    width: 670px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 360px;
    line-height: 57px;
    font-size: 53px;

    span {
      display: inline;
    }
  }
}

.view__list {
  width: 100%;

  @include ul-reset();

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    @include flex-row();
    flex-wrap: nowrap;
    width: 668px;
    margin: 0 auto;
  }

  @media (min-width: $min-desktop) {
    @include flex-row();
    flex-wrap: nowrap;
    width: 1050px;
    margin: 0 auto;
  }
}

.view__item {
  position: relative;
  width: 100%;

  @include field-reset();

  a {
    position: relative;

    @include flex-row();
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;

    @include field-reset();
    padding-top: 23px;
    padding-right: 36px;
    padding-bottom: 19px;
    padding-left: 29px;

    @include font-bold()
    line-height: 24px;
    font-size: 19px;
    color: $add-color;
    background: $green-color;
  }

  a:hover {
    padding-top: 18px;
    padding-bottom: 24px;
  }

  a:hover::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    right: 0px;
    left: 0px;
    height: 5px;
    background: $green-color;
  }

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    width: 50%;

    a {
      min-height: 119px;
      padding-top: 29px;
      padding-left: 35px;
      line-height: 30px;
      font-size: 20px;
    }

    a:hover {
      padding-top: 23px;
    }

    a:hover::before {
      content: "";
      display: block;
      position: absolute;
      top: -5px;
      right: 0px;
      left: 0px;
      height: 5px;
      background: $green-color;
    }
  }

  @media (min-width: $min-desktop) {
    width: 50%;

    a {
      min-height: 119px;
      padding-top: 28px;
      padding-right: 35px;
      padding-left: 35px;
      line-height: 30px;
      font-size: 20px;
    }

    a:hover {
      padding-top: 23px;
    }

    a:hover::before {
      content: "";
      display: block;
      position: absolute;
      top: -5px;
      right: 0px;
      left: 0px;
      height: 5px;
      background: $green-color;
    }
  }
}

.view__item--darkness {

  a {
    padding-right: 28px;
    background: $green-color--dark;
  }

  a:hover::before {
    background: $green-color--dark;
  }

  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {

    a {
      padding-right: 34px;
    }
  }

  @media (min-width: $min-desktop) {

    a {
      padding-right: 35px;
    }
  }
}

a .view__icon-interior,
a .view__icon-toy {
  fill: rgba(20, 144, 128, 0.5);
}

a:hover .view__icon-interior,
a:hover .view__icon-toy {
  fill: rgba(20, 144, 128, 0.7);
}

a:active .view__icon-interior,
a:active .view__icon-toy {
  fill: rgba(20, 144, 128, 0.3);
}
