.view {

}

.view__container {
  @include mobal-container();
  padding: 0px;
  padding-top: 53px;

  background: $add-color url("../img/hero-mobile@1x.jpg") no-repeat center -18px;
}

.view__title {
  padding-bottom: 104px;
  @include font-bold();
  line-height: 30px;
  font-size: 27px;
  text-align: center;
  letter-spacing: 0.2px;

  span {
    display: block;
  }
}

.view__list {
  width: 100%;
  @include ul-reset();
}

.view__item {
  width: 100%;
  @include field-reset();

  a {
    display: block;
    width: 100%;
    @include field-reset();
    padding-top: 25px;
    padding-right: 125px;
    padding-bottom: 30px;
    padding-left: 29px;
    @include font-bold()
    line-height: 24px;
    font-size: 19px;
    color: $add-color;
    background: $green-color;
  }
}

.view__item--darkness {

  a {
    background: $green-color--dark;
  }
}
